<div class="kanban-board" cdkDropListGroup>
  <mat-toolbar color="" style="height: 30px">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="epicsList">Epics</button>
      <button mat-menu-item [matMenuTriggerFor]="membersList">Members</button>
    </mat-menu>

    <mat-menu #epicsList="matMenu">
      <button mat-menu-item (click)="openNewEpicDialog()">Add New Epic</button>
      <button mat-menu-item [matMenuTriggerFor]="viewEpics">View Epics</button>
    </mat-menu>

    <mat-menu #membersList="matMenu">
      <button mat-menu-item (click)="openNewMemberDialog()">
        Add New Member
      </button>
      <button mat-menu-item [matMenuTriggerFor]="viewMembers">
        View Members
      </button>
    </mat-menu>

    <mat-menu #viewEpics="matMenu">
      <button mat-menu-item *ngFor="let epic of epics; let i = index">
        <button
          type="button"
          class="btn btn-danger btn-circle btn-sm"
          (click)="openDialogConfirm(i, epic.title)"
        >
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        &nbsp;
        {{ epic.title | titlecase }}
      </button>
    </mat-menu>

    <mat-menu #viewMembers="matMenu">
      <button mat-menu-item *ngFor="let member of members; let i = index">
        <button
          type="button"
          class="btn btn-danger btn-circle btn-sm"
          (click)="openDialogConfirm(i, member.name)"
        >
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        &nbsp;
        {{ member.name | titlecase }}
      </button>
    </mat-menu>
  </mat-toolbar>

  <div class="card-container">
    <h2>
      <button
        type="button"
        class="btn btn-success btn-circle newCard"
        (click)="openDialog()"
      >
        <i class="glyphicon glyphicon-plus"></i>
      </button>
      To Do
    </h2>

    <cdk-virtual-scroll-viewport itemSize="90">
      <div
        cdkDropList
        [cdkDropListData]="todo"
        class="card-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          [ngClass]="[
            card.type === 'issue'
              ? 'card-issue'
              : card.type === 'task'
              ? 'card-task'
              : 'card-box',
            card.color === 'blue'
              ? 'card-blue'
              : card.color === 'yellow'
              ? 'card-yellow'
              : card.color === 'green'
              ? 'card-green'
              : card.color === 'purple'
              ? 'card-purple'
              : card.color === 'pink'
              ? 'card-pink'
              : card.color === 'orange'
              ? 'card-orange'
              : 'card-default'
          ]"
          *ngFor="let card of todo; let i = index"
          cdkDrag
        >
          <div class="card-custom-placeholder" *cdkDragPlaceholder></div>
          <div class="card-header card-text-group">
            <div class="card-id">
              {{ card.id }}
              <div class="card-priority">
                <i
                  [ngClass]="
                    card.priority === 'blocker'
                      ? 'glyphicon glyphicon-ban-circle'
                      : card.priority === 'major'
                      ? 'glyphicon glyphicon-arrow-up'
                      : 'glyphicon glyphicon-arrow-down'
                  "
                ></i>
                <!-- {{ card.priority }} -->
              </div>
            </div>
            <div class="btn-toolbar btn-card-group" role="toolbar">
              <button
                type="button"
                class="btn btn-danger btn-circle"
                (click)="openDialogConfirm(i, card.id)"
              >
                <i class="glyphicon glyphicon-remove"></i>
              </button>
              <button
                type="button"
                class="btn btn-info btn-circle"
                (click)="
                  openDialogEdit(
                    card.title,
                    card.priority,
                    card.assignedTo,
                    card.type,
                    i,
                    card.id,
                    card.color,
                    card.comments,
                    card.epicLink
                  )
                "
              >
                <i class="glyphicon glyphicon-edit"></i>
              </button>
            </div>
          </div>
          <div class="body card-text-group" style="clear: both;">
            <div class="card-title">{{ card.title | titlecase }}</div>
            <div
              [ngClass]="card.epicLink == null ? 'card-no-epic' : 'card-epic'"
            >
              {{ card.epicLink | titlecase }}
            </div>
            <div *ngIf="card.assignedTo" class="card-assignedTo">
              Assigned to: {{ card.assignedTo | titlecase }}
            </div>
            <div *ngIf="!card.assignedTo" class="card-not-assignedTo"></div>
          </div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>

  <div class="card-container">
    <h2>In Progress</h2>
    <cdk-virtual-scroll-viewport itemSize="90">
      <div
        cdkDropList
        [cdkDropListData]="wip"
        class="card-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          [ngClass]="[
            card.type === 'issue'
              ? 'card-issue'
              : card.type === 'task'
              ? 'card-task'
              : 'card-box',
            card.color === 'blue'
              ? 'card-blue'
              : card.color === 'yellow'
              ? 'card-yellow'
              : card.color === 'green'
              ? 'card-green'
              : card.color === 'purple'
              ? 'card-purple'
              : card.color === 'pink'
              ? 'card-pink'
              : card.color === 'orange'
              ? 'card-orange'
              : 'card-default'
          ]"
          *ngFor="let card of wip; let i = index"
          cdkDrag
        >
          <div class="card-custom-placeholder" *cdkDragPlaceholder></div>
          <div class="card-header card-text-group">
            <div class="card-id">
              {{ card.id }}
              <div class="card-priority">
                <i
                  [ngClass]="
                    card.priority === 'blocker'
                      ? 'glyphicon glyphicon-ban-circle'
                      : card.priority === 'major'
                      ? 'glyphicon glyphicon-arrow-up'
                      : 'glyphicon glyphicon-arrow-down'
                  "
                ></i>
                <!-- {{ card.priority }} -->
              </div>
            </div>
            <div class="btn-toolbar btn-card-group" role="toolbar">
              <button
                type="button"
                class="btn btn-danger btn-circle"
                (click)="openDialogConfirm(i, card.id)"
              >
                <i class="glyphicon glyphicon-remove"></i>
              </button>
              <button
                type="button"
                class="btn btn-info btn-circle"
                (click)="
                  openDialogEdit(
                    card.title,
                    card.priority,
                    card.assignedTo,
                    card.type,
                    i,
                    card.id,
                    card.color,
                    card.comments,
                    card.epicLink
                  )
                "
              >
                <i class="glyphicon glyphicon-edit"></i>
              </button>
            </div>
          </div>
          <div class="body card-text-group" style="clear: both;">
            <div class="card-title">{{ card.title | titlecase }}</div>
            <div
              [ngClass]="card.epicLink == null ? 'card-no-epic' : 'card-epic'"
            >
              {{ card.epicLink | titlecase }}
            </div>
            <div *ngIf="card.assignedTo" class="card-assignedTo">
              Assigned to: {{ card.assignedTo | titlecase }}
            </div>
            <div *ngIf="!card.assignedTo" class="card-not-assignedTo"></div>
          </div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>

  <div class="card-container">
    <h2>In Review</h2>
    <cdk-virtual-scroll-viewport itemSize="90">
      <div
        cdkDropList
        [cdkDropListData]="review"
        class="card-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          [ngClass]="[
            card.type === 'issue'
              ? 'card-issue'
              : card.type === 'task'
              ? 'card-task'
              : 'card-box',
            card.color === 'blue'
              ? 'card-blue'
              : card.color === 'yellow'
              ? 'card-yellow'
              : card.color === 'green'
              ? 'card-green'
              : card.color === 'purple'
              ? 'card-purple'
              : card.color === 'pink'
              ? 'card-pink'
              : card.color === 'orange'
              ? 'card-orange'
              : 'card-default'
          ]"
          *ngFor="let card of review; let i = index"
          cdkDrag
        >
          <div class="card-custom-placeholder" *cdkDragPlaceholder></div>
          <div class="card-header card-text-group">
            <div class="card-id">
              {{ card.id }}
              <div class="card-priority">
                <i
                  [ngClass]="
                    card.priority === 'blocker'
                      ? 'glyphicon glyphicon-ban-circle'
                      : card.priority === 'major'
                      ? 'glyphicon glyphicon-arrow-up'
                      : 'glyphicon glyphicon-arrow-down'
                  "
                ></i>
                <!-- {{ card.priority }} -->
              </div>
            </div>
            <div class="btn-toolbar btn-card-group" role="toolbar">
              <button
                type="button"
                class="btn btn-danger btn-circle"
                (click)="openDialogConfirm(i, card.id)"
              >
                <i class="glyphicon glyphicon-remove"></i>
              </button>
              <button
                type="button"
                class="btn btn-info btn-circle"
                (click)="
                  openDialogEdit(
                    card.title,
                    card.priority,
                    card.assignedTo,
                    card.type,
                    i,
                    card.id,
                    card.color,
                    card.comments,
                    card.epicLink
                  )
                "
              >
                <i class="glyphicon glyphicon-edit"></i>
              </button>
            </div>
          </div>
          <div class="body card-text-group" style="clear: both;">
            <div class="card-title">{{ card.title | titlecase }}</div>
            <div
              [ngClass]="card.epicLink == null ? 'card-no-epic' : 'card-epic'"
            >
              {{ card.epicLink | titlecase }}
            </div>
            <div *ngIf="card.assignedTo" class="card-assignedTo">
              Assigned to: {{ card.assignedTo | titlecase }}
            </div>
            <div *ngIf="!card.assignedTo" class="card-not-assignedTo"></div>
          </div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>

  <div class="card-container">
    <h2>Accepted</h2>
    <cdk-virtual-scroll-viewport itemSize="90">
      <div
        cdkDropList
        [cdkDropListData]="accepted"
        class="card-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          [ngClass]="[
            card.type === 'issue'
              ? 'card-issue'
              : card.type === 'task'
              ? 'card-task'
              : 'card-box',
            card.color === 'blue'
              ? 'card-blue'
              : card.color === 'yellow'
              ? 'card-yellow'
              : card.color === 'green'
              ? 'card-green'
              : card.color === 'purple'
              ? 'card-purple'
              : card.color === 'pink'
              ? 'card-pink'
              : card.color === 'orange'
              ? 'card-orange'
              : 'card-default'
          ]"
          *ngFor="let card of accepted; let i = index"
          cdkDrag
        >
          <div class="card-custom-placeholder" *cdkDragPlaceholder></div>
          <div class="card-header card-text-group">
            <div class="card-id">
              {{ card.id }}
              <div class="card-priority">
                <i
                  [ngClass]="
                    card.priority === 'blocker'
                      ? 'glyphicon glyphicon-ban-circle'
                      : card.priority === 'major'
                      ? 'glyphicon glyphicon-arrow-up'
                      : 'glyphicon glyphicon-arrow-down'
                  "
                ></i>
                <!-- {{ card.priority }} -->
              </div>
            </div>
            <div class="btn-toolbar btn-card-group" role="toolbar">
              <button
                type="button"
                class="btn btn-danger btn-circle"
                (click)="openDialogConfirm(i, card.id)"
              >
                <i class="glyphicon glyphicon-remove"></i>
              </button>
              <button
                type="button"
                class="btn btn-info btn-circle"
                (click)="
                  openDialogEdit(
                    card.title,
                    card.priority,
                    card.assignedTo,
                    card.type,
                    i,
                    card.id,
                    card.color,
                    card.comments,
                    card.epicLink
                  )
                "
              >
                <i class="glyphicon glyphicon-edit"></i>
              </button>
            </div>
          </div>
          <div class="body card-text-group" style="clear: both;">
            <div class="card-title">{{ card.title | titlecase }}</div>
            <div
              [ngClass]="card.epicLink == null ? 'card-no-epic' : 'card-epic'"
            >
              {{ card.epicLink | titlecase }}
            </div>
            <div *ngIf="card.assignedTo" class="card-assignedTo">
              Assigned to: {{ card.assignedTo | titlecase }}
            </div>
            <div *ngIf="!card.assignedTo" class="card-not-assignedTo"></div>
          </div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
