.kanban-board {
  text-align: center;
  margin-top: 0px;
}

.card-text-group {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.glyphicon-ban-circle {
  color: red;
}
.glyphicon-arrow-up {
  color: red;
}
.glyphicon-arrow-down {
  color: green;
}

.card-id {
  width: 220px;
  color: rgb(33, 75, 214);
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}
.card-title {
  font-size: 16px;
  width: 200px;
  margin-bottom: 30px;
}

.card-assignedTo {
  font-size: 12px;
  margin-bottom: 0px;
  color: rgb(26, 24, 24);
}

.bottom-row {
  display: inline-block;
}

.card-container {
  width: 350px;
  max-width: 100%;
  margin: 50px 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}

.card-list {
  min-height: 500px;
  background: white;
}

.card-box,
.card-issue,
.card-task {
  min-height: 140px;
  max-height: 100%;
  padding: 20px 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
  margin-bottom: 15px;
  border-radius: 8px;
  text-align: left;
}
.card-box {
  /* background-color: rgb(235, 232, 232); */
  border: 2px solid grey;
}
.card-issue {
  /* background-color: rgb(247, 178, 178); */
  border: 2px solid red;
}
.card-task {
  /* background-color: rgb(198, 219, 226); */
  border: 2px solid blue;
}

.card-default {
  background: #ffffff;
}
.card-blue {
  background-color: #a9def9;
}
.card-green {
  background-color: #d3f8e2;
}
.card-yellow {
  background-color: #ede7b1;
}
.card-purple {
  background-color: #e4c1f9;
}
.card-pink {
  background-color: #f694c1;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 8px;

  box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.2),
    0 16px 20px 2px rgba(0, 100, 0, 0.14), 0 6px 28px 4px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card-list.cdk-drop-list-dragging .card-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card-custom-placeholder {
  border: dotted 3px #999;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  min-height: 140px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

cdk-virtual-scroll-viewport {
  height: 75vh;
}

cdk-virtual-scroll-viewport,
.card-list,
.kanban-board {
  background-color: #fffffa;
}
