<h1 mat-dialog-title>Edit Card</h1>

<div class="content" mat-dialog-content>
  <mat-form-field>
    <textarea
      matInput
      placeholder="Title"
      maxlength="600"
      autocomplete="off"
      [(ngModel)]="data.title"
      required
      rows="5"
    ></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Priority" [(value)]="data.priority" required>
      <mat-option value="minor">Minor</mat-option>
      <mat-option value="major">Major</mat-option>
      <mat-option value="blocker">Blocker</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Color" [(value)]="data.color">
      <mat-option value="default">Default</mat-option>
      <mat-option value="blue">Blue</mat-option>
      <mat-option value="green">Green</mat-option>
      <mat-option value="yellow">Yellow</mat-option>
      <mat-option value="orange">Orange</mat-option>
      <mat-option value="pink">Pink</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Assigned to"
      autocomplete="off"
      [(ngModel)]="data.assignedTo"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Card Type" [(value)]="data.type" required>
      <mat-option value="story">Story</mat-option>
      <mat-option value="task">Task</mat-option>
      <mat-option value="issue">Issue</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button-lg class="btn btn-basic" (click)="onNoClick()">
    Exit
  </button>
  &nbsp;&nbsp;
  <button
    mat-button-lg
    class="btn btn-primary"
    [(mat-dialog-close)]="data"
    cdkFocusInitial
  >
    Save
  </button>
</div>
