<h1 mat-dialog-title>New Member</h1>

<div class="content" mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      placeholder="Name"
      minlength="4"
      maxlength="40"
      autocomplete="off"
      [(ngModel)]="data.memberName"
      required
      #name="ngModel"
    />
  </mat-form-field>
  <div
    *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger"
  >
    <div *ngIf="name.errors.required">
      Name is required.
    </div>
    <div *ngIf="name.errors.minlength">
      Name must be at least 4 characters long.
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button
    mat-raised-button
    mat-dialog-close
    tabindex="-1"
    (click)="onNoClick()"
  >
    Exit
  </button>
  &nbsp;&nbsp;
  <button
    mat-raised-button
    color="primary"
    [(mat-dialog-close)]="data"
    tabindex="1"
  >
    Save
  </button>
</div>
